:root {
    --red-color: #ca0408;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: url("assets/image.webp") no-repeat;
    background-size: cover;
}
.nav-mobile{
    display: none;
}
.nav-desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2);
    transition: all 100ms ease-in-out;
    overflow: hidden;
    z-index: 2;
    &:hover{
        width: 15rem;
    }
}

nav * {
    cursor: pointer;
    user-select: none;
}

.nav-button{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 13rem;
    margin-bottom: 1rem;
    text-wrap: nowrap;
    color: var(--red-color);
    &:hover{
        border-bottom: 2px dotted var(--red-color);
    }
    &:last-child{
        position: absolute;
        bottom: 2rem;
    }
    & svg{
        width: 3rem;
        height:  3rem;
        fill: var(--red-color)
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    background-color: rgba(30, 30, 30, 1);
    color: #f1efef;
    font-size: 0.9rem;
    text-align: center;
    z-index: 3;
}

.button {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    padding: 8px 30px;
    background-color: transparent;
    color: var(--red-color);
    border: 2px solid var(--red-color);
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.2s ease-in-out;
    &:hover{
        scale: 1.02;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    &:active {
        transform: scale(0.95);
    }
    & svg {
        width: 24px;
        height: 24px;
        fill: var(--red-color);
    }
}

.dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    position: relative;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.dialog-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 100%;
}

.close-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 8px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    stroke: var(--red-color);
}

.input {
    width: calc(100% - 20px);
    margin-bottom: 4px;
    padding: 10px;
    border: 1px solid #130001;
    border-radius: 5px;
    font-size: 1rem;
}

.ad-button {
    display: flex;
    justify-content: center;
    width: calc(100% - 20px);
    margin-top: 8px;

    &:hover{
        scale: none;
    }
}


.dialog-message-title{
    font-weight: 300;
    font-size: 2rem;
}

.dialog-message-subtitle{
    font-weight: 300;
    font-size: 1.3rem;
}

.dialog-subtitle{
    margin-bottom: 1rem;
}

.donation-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.donation-button {
    padding: 10px 20px;
    background-color: #ed3d3d;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s ease-in-out;

    &:hover {
        background-color: var(--red-color);
    }

}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.currency {
    position: absolute;
    right: 16px;
    font-size: 16px;
    color: #000;
}

#custom-amount {
    padding: 10px;
    width: 18rem;
    border: 2px solid var(--red-color);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
}

audio {
    display: none;
}

:root {
    --n: 128;
    --f: 0.024548622108925444
}

@property --fx {
    syntax: '<number>';
    initial-value: 1;
    inherits: true;
}
.spike-block{
    position: absolute;
    /*left: 18%;*/
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.spike {
    --fx: calc(var(--i)/var(--n));
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 0;
    transform-origin: 0 50%;
    transform: rotate(calc(var(--i)*1turn/var(--n))) translate(calc(0.25em/var(--f))) scalex(var(--fx));
    background: currentcolor;
    color: hsl(calc(350 + (var(--i) / 128) * 10), 100%, 50%);
    animation: a 30s ease-in-out calc(var(--i)/var(--n)*-60s) infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.spike-icon {
    --size: 9rem;
    position: relative;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    fill: var(--red-color);

    animation: bounce 2s ease-in-out infinite;
}
.spike-active {
    width: 4em;
    height: 0.05em;
    animation: a 11s ease-in-out calc(var(--i)/var(--n)*-22s) infinite;
}

.spike:before, .spike:after {
    --k: 0;
    --s: calc(2*var(--k) - 1);
    position: absolute;
    top: calc(50% - 0.125em);
    left: calc(var(--k)*100% - 0.125em);
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    transform: scalex(calc(1/var(--fx)));
    background: inherit;
    content: "";
}
.spike:after {
    --k: 1;
}
.spike:nth-child(2n):before, .spike:nth-child(2n):after {
    box-shadow: calc(var(--s)*0.5em) 0 0 -1px currentcolor;
}

@keyframes a {
    0% {
        --fx: 0.55;
    }
    2.77778% {
        --fx: 0.66079;
    }
    5.55556% {
        --fx: 0.86715;
    }
    8.33333% {
        --fx: 0.35514;
    }
    11.11111% {
        --fx: 0.80854;
    }
    13.88889% {
        --fx: 0.62231;
    }
    16.66667% {
        --fx: 0.55;
    }
    19.44444% {
        --fx: 0.58848;
    }
    22.22222% {
        --fx: 0.60861;
    }
    25% {
        --fx: 0.55;
    }
    27.77778% {
        --fx: 0.49139;
    }
    30.55556% {
        --fx: 0.51152;
    }
    33.33333% {
        --fx: 0.55;
    }
    36.11111% {
        --fx: 0.47769;
    }
    38.88889% {
        --fx: 0.29146;
    }
    41.66667% {
        --fx: 0.74486;
    }
    44.44444% {
        --fx: 0.23285;
    }
    47.22222% {
        --fx: 0.43921;
    }
    50% {
        --fx: 0.55;
    }
    52.77778% {
        --fx: 0.43921;
    }
    55.55556% {
        --fx: 0.23285;
    }
    58.33333% {
        --fx: 0.74486;
    }
    61.11111% {
        --fx: 0.29146;
    }
    63.88889% {
        --fx: 0.47769;
    }
    66.66667% {
        --fx: 0.55;
    }
    69.44444% {
        --fx: 0.51152;
    }
    72.22222% {
        --fx: 0.49139;
    }
    75% {
        --fx: 0.55;
    }
    77.77778% {
        --fx: 0.60861;
    }
    80.55556% {
        --fx: 0.58848;
    }
    83.33333% {
        --fx: 0.55;
    }
    86.11111% {
        --fx: 0.62231;
    }
    88.88889% {
        --fx: 0.80854;
    }
    91.66667% {
        --fx: 0.35514;
    }
    94.44444% {
        --fx: 0.86715;
    }
    97.22222% {
        --fx: 0.66079;
    }
    100% {
        --fx: 0.55;
    }
}


@media screen and (max-width: 640px) {
    .nav-desktop{
        display: none;
    }
    .nav-mobile {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        padding: 0.5rem;
        background-color: #fff;
        box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2);
        z-index: 2;
    }

    .nav-button{
        width: auto;
        margin-bottom: 0;
        &:last-child{
            position: initial;
        }
    }

    footer{
        height: 30px;
    }

    :root {
        --n: 92;
        --f: 0.024548622108925444
    }

    .spike-block{
        left: calc(50% - 150px);
        top: calc(50% - 150px);
        width: 300px;
        height: 300px;
    }
    .spike {
        left: 50%;
        top: 50%;
        transform: rotate(calc(var(--i)*1turn/var(--n))) translate(calc(0.15em/var(--f))) scalex(var(--fx));
    }

    .spike-icon {
        --size: 6rem;
    }
    .spike-active {
        width: 3em;
        height: 0.05em;
    }

}

